{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}nouvelle réservation{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row (form.beginAt)}}
    <button type="submit" class="btn btn alert-success">
        valider
    </button>
    {{ form_end(form) }}

{% endblock %}