        <style>
            .d-print-none {
                width: 100%;

            }
        </style>
<footer class="d-print-none">
    <div class="container-fluid">
        <div class="container">
            <div class="row d-print-none">
                <div class="col-12">
                    <a href="#sousmenu" title="Haut de page"><i class="fas fa-arrow-circle-up fa-3x" aria-hidden="true"
                                                                id="hautDePage"></i></a>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 order-1">
                    <!-- <div class="row "> -->
                    <!-- <div  id="footer_contact"> -->
                    <!--  -->

                    <!-- <hr class="d-none d-lg-block"> -->
                    <!-- </div> -->
                    <!-- </div> -->
                    <div class="row ">
                        <div id="footer_contact">

                            <div class="col-12">
                                <div id="c6" class="frame frame-default frame-type-text frame-layout-0">
                                    <div class="row">
                                        <div class="col-12"><h2 class="">
                                                Contact
                                            </h2></div>
                                    </div>
                                    <p><strong>MÉTROPOLE DU GRAND NANCY</strong><br/> 22-24, viaduc Kennedy<br/> CO
                                        80036<br/> 54035 NANCY cedex.<br/> tél : 03.83.91.83.91<br/><br/> Ouvert du
                                        lundi au vendredi<br/> de 8h à 12h et de 13h à 17h<br/> &nbsp;</p>
                                    <p class="footer_bouton"><a
                                                href="https://www.grandnancy.eu/formulaires/guichet-des-formulaires/">Nous
                                            écrire</a></p></div>
                            </div>


                            <hr class="d-none d-lg-block">
                        </div>
                    </div>

                    <div class="row ">
                        <div id="footer_applications" class="pt-0">

                            <div class="col-12">
                                <div id="c10" class="frame frame-default frame-type-image frame-layout-0">
                                    <div class="row">
                                        <div class="col-12"><h2 class="">
                                                Utiliser G-Ny
                                            </h2></div>
                                    </div>
                                    <div class="ce-image ce-left ce-above">
                                        <figure><a href="https://go.g-ny.org" class="G-ny"><img
                                                        src="https://www.grandnancy.eu/fileadmin/_processed_/2/b/csm_gny_v01_147881f0ec.png"
                                                        sizes="(min-width: 992px) 714px, 100vw" srcset="https://www.grandnancy.eu/fileadmin/_processed_/2/b/csm_gny_v01_147881f0ec.png 360w,
                https://www.grandnancy.eu/fileadmin/_processed_/2/b/csm_gny_v01_2dc9af00e5.png 715w,
                https://www.grandnancy.eu/fileadmin/_processed_/2/b/csm_gny_v01_389392e22f.png 1200w" class="" title=""
                                                        alt="G-Ny" style="width:100%;height:auto;"/><!-- <picture> -->
                                                <!-- <source media="(max-width: 767px)" srcset="https://www.grandnancy.eu/fileadmin/_processed_/2/b/csm_gny_v01_147881f0ec.png 360w,  -->
                                                <!-- https://www.grandnancy.eu/fileadmin/_processed_/2/b/csm_gny_v01_6accc952d2.png 640w"> -->
                                                <!-- <source media="(min-width: 768px)" srcset="https://www.grandnancy.eu/fileadmin/_processed_/2/b/csm_gny_v01_447f4cab02.png 992w, -->
                                                <!-- https://www.grandnancy.eu/fileadmin/_processed_/2/b/csm_gny_v01_ed5594ce96.png 1428w"> -->
                                                <!-- <img src="https://www.grandnancy.eu/fileadmin/_processed_/2/b/csm_gny_v01_147881f0ec.png 360w" class="mr-3 "  title="" alt="G-Ny" style="width:100%;height:auto;"/> -->
                                                <!-- </picture> --></a></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-6 col-lg-4 order-2 order-md-3 order-lg-2">
                    <div class="row ">
                        <div id="footer_acces">

                            <div class="col-12">
                                <div id="c995" class="frame frame-default frame-type-menu_pages frame-layout-0">
                                    <div class="row">
                                        <div class="col-12"><h2 class="">
                                                Accès direct
                                            </h2></div>
                                    </div>
                                    <ul>
                                        <li><a href="https://www.grandnancy.eu/publications-legales/deliberations/"
                                               title="Délibérations"><span>Délibérations</span></a></li>
                                        <li><a href="https://www.grandnancy.eu/la-metropole/magazines/#c1607"
                                               title="Rapports d&#039;activité"><span>Rapports d&#039;activité</span></a>
                                        </li>
                                        <li><a href="https://www.grandnancy.eu/publications-legales/enquetes-publiques/"
                                               title="Enquêtes publiques"><span>Enquêtes publiques</span></a></li>
                                        <li><a href="https://www.grandnancy.eu/publications-legales/marches-publics/"
                                               title="Marchés publics"><span>Marchés publics</span></a></li>
                                        <li>
                                            <a href="https://www.grandnancy.eu/publications-legales/documents-budgetaires/"
                                               title="Documents budgétaires"><span>Documents budgétaires</span></a></li>
                                        <li>
                                            <a href="https://www.grandnancy.eu/publications-legales/encheres-citoyennes-en-ligne/"
                                               title="Enchères citoyennes en ligne"><span>Enchères citoyennes en ligne</span></a>
                                        </li>
                                        <li>
                                            <a href="https://www.grandnancy.eu/publications-legales/teledeclaration-taxe-de-sejour/"
                                               title="Télédéclaration Taxe de séjour"><span>Télédéclaration Taxe de séjour</span></a>
                                        </li>
                                        <li><a href="https://www.grandnancy.eu/la-metropole/magazines/"
                                               title="Magazines"><span>Magazines</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 order-3 order-md-2 order-lg-3">
                    <div class="row ">
                        <div id="footer_rs">

                            <div class="col-12">
                                <div id="c9" class="frame frame-default frame-type-html frame-layout-0"><h2>
                                        Suivez-nous</h2>
                                    <div class="reseaux_sociaux"><a href="http://www.facebook.com/metropolegrandnancy/"
                                                                    target="_blank"><i class="fab fa-facebook-f RS"
                                                                                       aria-hidden="true"></i></a><a
                                                href="https://fr.linkedin.com/company/communaut-urbaine-du-grand-nancy"
                                                target="_blank"><i class="fab fa-linkedin-in RS" aria-hidden="true"></i></a><a
                                                href="https://www.instagram.com/metropolegrandnancy/" target="_blank"><i
                                                    class="fab fa-instagram RS" aria-hidden="true"></i></a><a
                                                href="https://twitter.com/Grand_Nancy" target="_blank"><i
                                                    class="fab fa-twitter RS" aria-hidden="true"></i></a><a
                                                href="https://www.youtube.com/user/CuGrandNancy" target="_blank"><i
                                                    class="fab fa-youtube RS" aria-hidden="true"></i></a>
                                        <p class="footer_bouton"><a
                                                    href="/la-metropole/magazines/inscription-newsletter/">Inscrivez-vous
                                                à la newsletter</a></p></div>
                                </div>
                            </div>
                            <hr class="d-none d-lg-block">
                        </div>
                    </div>

                    <div class="row">
                        <div id="footer_nancy_votre_place">

                            <div class="col-12">
                                <div id="c2306" class="frame frame-default frame-type-html frame-layout-0"><a
                                            href="https://place-a-nancy.fr/" alt="Nancy votre place est ici"
                                            target="_blank"><img
                                                src="https://www.grandnancy.eu/typo3conf/ext/dsit_configuration/Resources/Public/Images/logo_nancy_site_2_B.svg"
                                                alt="Nancy votre place est ici"/></a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- second_footer -->
    <div class="container-fluid" id="second_footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul>
                        <li><a href="https://www.grandnancy.eu/publications/presse/">Presse</a></li>
                        <li><a href="https://www.grandnancy.eu/pied-de-page/publications-legales/">Publications
                                légales</a></li>
                        <li><a href="https://www.grandnancy.eu/pied-de-page/plan-du-site/">Plan du site</a></li>
                        <li><a href="https://www.grandnancy.eu/pied-de-page/mentions-legales/">Mentions légales</a></li>
                        <li><a href="https://www.grandnancy.eu/pied-de-page/les-autres-sites-de-la-metropole/">Les
                                autres sites de la Métropole</a></li>
                        <li><a href="https://www.grandnancy.eu/la-metropole/offres-demploi/">Offres d'emploi</a></li>
                        <li><a href="https://www.grandnancy.eu/pied-de-page/logo/">Logo</a></li>
                        <li><a href="#" onclick="tarteaucitron.userInterface.openPanel();return false;">Gestion cookies
                                et services</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- second_footer -->
</footer>